.main-container{
    text-align: center;
}
.search-header {
    text-align: center;
}
.repos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.repo{
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    margin-top: 20px;
    width: 400px;
    border: 2px black solid;
}
.modal__inner img{
    height: 40px;
}
.close-btn{
    float:right;
    top: 5px;
}
.contributors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.stars{
    display: inline-block;
}
